.RoleGroup {
  display: flex;
  flex-direction: column;

  // border: 1px solid;
  height: 100%;
  .table-box {
    height: 100%;
    :deep(.el-table .el-table__body td .cell > span:empty::after) {
      content: "" !important;
    }
  }
  .card {
    overflow: hidden;
  }
}
