.QuadrantElectricity {
  .main-box {
    height: calc(100% - 64px);
  }
  .chart-box {
    height: 320px;
    margin-bottom: 8px;
  }
  .table-box {
    position: relative;
    width: 100%;
    height: calc(100% - 380px);
  }
}
