.main {
  // border: 1px solid;
  width: 100%;
  overflow: hidden;

  // padding: 8px 0;
  .el-main {
    box-sizing: border-box;

    // border: 1px solid red;
    height: calc(100% - 42px);
    padding: 10px 12px;
    overflow: hidden;

    // background-color: var(--el-bg-color-page);
  }
  .el-footer {
    height: auto;
    padding: 0;
  }
}
