.CollapseBox {
  position: relative;
  width: 210px;
  min-width: 210px;

  //   border: 1px solid;
  padding: 8px;
  margin-right: 8px;
  background-color: #ffffff;

  // border-radius: 12px;
  box-shadow:
    rgb(145 158 171 / 20%) 0 0 2px 0,
    rgb(145 158 171 / 12%) 0 12px 24px -4px;

  // transition: all 0.3s ease-in-out;
  > img {
    position: absolute;
    top: 50%;
    right: -16px;

    // border: 1px solid;
    width: 48px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  &.collapsed {
    width: 0 !important;
    min-width: 0 !important;
    padding: 0;
    margin-right: 0;

    // left: -200px;
    > img {
      right: -18px;
      transform: rotate(180deg);
      transform-origin: center;
    }
    .content {
      // transition: all 0.3s ease-in-out;
      width: 100%;
      opacity: 0;
    }
  }
}
