.tabs-box {
  display: flex;
  margin-top: 8px;
  background-color: var(--el-bg-color);
  .tabs-menu {
    position: relative;
    width: calc(100% - 258px);
    border-bottom: 1px dashed var(--el-aside-border-color);
    :deep(.el-tabs) {
      --el-tabs-header-height: 30px;
      .el-tabs__header {
        box-sizing: border-box;
        height: 30px;
        padding: 0 10px;
        margin: 0;
        border: none;
        .el-tabs__nav-wrap {
          position: absolute;
          width: calc(100% - 20px);

          // border: 1px solid;
          .el-tabs__nav-next,
          .el-tabs__nav-prev {
            line-height: 34px;
          }
          .el-tabs__nav {
            display: flex;
            border: none;
            .el-tabs__item {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 2px;
              font-size: 12px;
              font-weight: 400;
              color: #000000;
              background-color: rgb(245 245 245);
              border: none;
              border-radius: 8px 8px 0 0;
              .tabs-icon {
                margin: 1.5px 4px 0 0;
                font-size: 15px;
              }
              .is-icon-close {
                margin-top: 1px;
              }
              &.is-active {
                color: #ffffff;
                background-color: var(--el-color-primary);
                border-color: #069bab;
                transition-duration: 0.2s;
              }
            }
          }
        }
      }
    }
  }
  .tool-box {
    display: flex;
    align-items: center;
    width: 258px;
    > .alarm {
      width: 180px;
      margin-right: 20px;
      > .item {
        padding: 2px 8px;
        margin: 0 10px;
        font-size: 12px;

        // line-height: 16px;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
      }
    }
    > .user {
      height: 26px;
      cursor: pointer;
    }
  }
}
