.TransformerSelect {
  // margin-bottom: 16px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-bottom: 8px;
  overflow: hidden;

  // border: 1px solid var(--el-aside-border-color);
  box-shadow:
    rgb(145 158 171 / 20%) 0 0 2px 0,
    rgb(145 158 171 / 12%) 0 12px 24px -4px;
  > .label {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
  }
  > .name {
    display: inline-block;
    margin-right: 16px;
    font-size: 14px;
  }
  .select-modal {
    height: 62vh;
    .main {
      display: flex;
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 0;
      .form {
        display: flex;
        justify-content: space-between;

        // border: 1px solid;
        margin-bottom: 12px;
      }
    }
  }
}
