.TransformerSelect {
  //   border: 1px solid;
  margin-bottom: 8px;
  > span {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
  }
  .select-modal {
    height: 62vh;
    .main {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
