.HarmonicData {
  .content-box {
    width: 100%;
    .el-tabs {
      display: flex;
      flex-direction: column;
      height: calc(100% - 50px);
      :deep(.el-tabs__content) {
        flex: 1;
        .chart-box {
          height: 100%;
          .chart-box {
            height: 100%;
          }
        }
      }
    }
  }
}
