.el-container {
  width: 100%;
  height: 100%;
  background-color: rgb(248 248 248 / 40%);
  :deep(.el-aside) {
    // width: auto;
    background-color: var(--el-menu-bg-color);
    border-right: 1px solid var(--el-aside-border-color);
    transition: width 0.3s ease;
    .aside-box {
      display: flex;
      flex-direction: column;
      height: 100%;
      color: #ffffff;
      background-color: #262f3e;

      // background-color: var(--el-color-primary);
      .el-scrollbar {
        height: calc(100% - 55px);
        .el-menu {
          width: 100%;
          overflow-x: hidden;
          background-color: #262f3e;

          // background-color: #018297;
          border-right: none;
          .el-sub-menu {
            &:hover {
              color: #bbbbbb;

              // background-color: rgb(8 139 153 / 64%);
            }
            .el-sub-menu__title {
              color: #bbbbbb;
              &:hover {
                color: #ffffff !important;
              }
              > img {
                margin-right: 12px;
              }
            }
            .el-menu {
              .el-menu-item {
                color: #bbbbbb;

                // background-color: #069bab;
                &:hover {
                  color: #ffffff;
                  background-color: var(--el-color-primary);
                }
                > img {
                  margin-right: 8px;
                }
              }
            }
          }
        }
      }
      .logo {
        box-sizing: border-box;
        height: 82px;
        padding-top: 12px;
        padding-bottom: 12px;
        .logo-img {
          width: 52px;
          margin-right: 6px;
          object-fit: contain;
        }
        .logo-text {
          font-size: 21.5px;
          font-weight: bold;

          // color: #ffffff;
          white-space: nowrap;
        }
      }
    }
  }
  .el-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 15px;
    background-color: var(--el-header-bg-color);
  }
}
