.ElectricData {
  height: 100%;
  .content-box {
    flex: 1;
    overflow: hidden;
    .flex-column {
      width: 100%;
      height: calc(100% - 54px);
      padding-top: 6px;
      .el-tabs {
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
        :deep(.el-tabs__content) {
          flex: 1;
          .chart-box {
            position: relative;
            .button {
              position: absolute;
              z-index: 9999;

              // border: 1px solid;
            }

            height: calc(100% - 36px);
          }
        }
      }
    }
  }
}
