.ElectricData {
  height: 100%;
  .content-box {
    .flex-column {
      height: calc(100% - 54px);

      // border: 1px solid;
      .el-tabs {
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
        :deep(.el-tabs__content) {
          // border: 1px solid red;
          flex: 1;
          .chart-box {
            height: 100%;
          }

          // .content-pane {
          //   border: 1px solid;
          //   height: 100%;

          // }
        }
      }
    }

    width: 100%;
    padding-top: 6px;
  }
}
